# Postgres Secrets
PG_HOST= 
PG_USER= 
PG_PASSWORD= 
PG_DB_NAME= 

# News Secrets
NEWS_API_KEY= 
NEWS_URL=

# Mongo Secrets
MG_COLLECTION_NAME= 
MG_CLIENT_URI= "mongodb://your_ip:your_port"

# Telegram API Key
TG_API_KEY= 

# Default user language ru, en, sk
DEF_LANG="en"

# Enable logs saving
LOGS=True